.add-btn {
  margin-right: 20px;
  color: rgba(255, 255, 255, 0.681);
  font-weight: 500;
  font-size: 1.5rem;
}

.add-btn:hover {
  color: white;
}

.add-btn-container > hr {
  border-color: rgba(255, 255, 255, 0.63);
  margin: 0;
}

.add-input {
  color: rgba(255, 255, 255, 0.833);
  border-radius: 0;
  font-size: 1.5rem;
}
.add-input:focus {
  color:white;
  outline: none;
}

.add-btn-container>div:hover {
  background-color: rgba(0, 0, 0, 0.144);
  border-radius: 10px;
}

.add-btn-container:focus-within {
  background-color: rgba(0, 0, 0, 0.21);
  border-radius: 10px;
}

#flexCheckDefault{
  margin-top: 15px;
}
#dropdowns{
  height: 40px;
}
#formatList{
  text-align: justify;
  color: white;
}
#formatDateAndTrashCan{
  float: right;
  display: inline;
  margin-left: 80px;
}
#formatTrashCan{
  float: right;
  display: inline;
  margin-left: 8px;
  cursor: pointer;
}
#del-button{
  margin-left: 70px;
  background:rgb(255,0,0);
  padding:1px 5px;
  border-radius:2px;
  color:white;
  font-size:12px;
  font-weight:700;
  cursor:pointer;
}
#formatDueDate{
  color: #ADD8E6;
  font-size: medium;
  margin-top: 12px;
  display: inline;
}
#formatTrashCanAndBars{
  float: right;
  display: inline;
  margin-left: 10px;
}
#formatBars{
  float: left;
  display: inline;
  margin-right: 40px;
  margin-left: 40px;
  cursor: pointer;
}


