#flexCheckDefault{
  margin-top: 15px;
}
#dropdowns{
  height: 40px;
}
#formatList{
  text-align: justify;
  color: white;
}
#formatDateAndTrashCan{
  float: right;
  display: inline;
  margin-left: 80px;
}
#formatTrashCan{
  float: right;
  display: inline;
  margin-left: 8px;
  cursor: pointer;
}
#del-button{
  margin-left: 70px;
  background:rgb(255,0,0);
  padding:1px 5px;
  border-radius:2px;
  color:white;
  font-size:12px;
  font-weight:700;
  cursor:pointer;
}
#formatDueDate{
  color: #ADD8E6;
  font-size: medium;
  margin-top: 12px;
  display: inline;
}
#formatTrashCanAndBars{
  float: right;
  display: inline;
  margin-left: 10px;
}
#formatBars{
  float: left;
  display: inline;
  margin-right: 40px;
  margin-left: 80px;
  cursor: pointer;
}


